.inwards_button{
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    background-color: #6c757d;
    border-color: #6c757d;
    width: 100%;
}
.inwards_card{
    background-color: #6c757d;

}
.inwards_button .fa {
    padding-right: 4px;
}
.c3-axis-y text 
{
  font-size: 12px;
}